@import '../../css/baseStyles';

.loadingIndicator {
  display: inline-block;
  text-align: center;
}

@mixin spinner($size, $duration: 1.8s) {
  white-space: nowrap;

  & .spinner__dot {
    background: $primary;
    display: inline-block;
    margin: 0 $size/2;
    width: $size;
    height: $size;
    border-radius: $size;
    animation-name: expand;
    animation-duration: $duration;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  &.inverted .spinner__dot {
    background: $white;
  }

  & .spinner__dot1 {
    animation-delay: 0.1s;
  }

  & .spinner__dot2 {
    animation-delay: 0.2s;
  }

  & .spinner__dot3 {
    animation-delay: 0.3s;
  }

  & .spinner__dot4 {
    animation-delay: 0.4s;
  }
}

.spinner {
  @include spinner(0.3rem);

  &.small {
    @include spinner(0.1rem);
  }

  &.large {
    @include spinner(0.8rem);
  }
}

@keyframes expand {
  0%,
  40%,
  100% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.6);
  }
}
